{% extends "base.html" %}

{% load static %}


{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="" class="navbar-brand">Song suchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
    </div>
</nav>
{% endblock %}

{% block content %}
<content>
    <div class="container min-100 d-flex flex-column" >
        <div class="row flex-grow-1 min-100 special">
            <div class="col p-4 flex-grow-1 bg-class">
                <div class="row" >
                    <div class="col-sm text-white">
                        <center><h2> Offizielles Songarchiv des Liedermachers Björn Heuser</h2></center>
                    </div>
                </div>
                <div class="form-group row">
                   <div class="col-12">
                        <video-js
                            id="heuser"
                            class="vjs-default-skin"
                            controls
                            preload="auto"
                            width="640"
                            height="268"
                           >
                            <source src="https://nginx2.nk-streaming.de/hls/heuser/index.m3u8" type="application/x-mpegURL" />
                            <p class="vjs-no-js">
                              To view this video please enable JavaScript, and consider upgrading to a
                              web browser that
                              <a href="https://videojs.com/html5-video-support/" target="_blank"
                                >supports HTML5 video</a
                              >
                            </p>
                          </video-js>

                          <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
                          <script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>

                          <script>
                            var player = videojs('heuser');
                          </script>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

</content>

{% endblock %}
