html, body {
  height: 100%;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.special {
  background-color: #89bbfc;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.0rem;
  background-color: #343a40;
  text-align: center;
}

.inline {
    display: inline;
}

.min-100 {
    min-height: 100%;
    height: 100%;
}

.modal-header {
    display: -ms-flexbox;
}

@media screen and (max-width: 575px){
    .bg-class {
        /*background-image: url('/static/heuser/images/bjoern_heuser_mobil.jpg'); */
        background-color: #89bbfc;
        background-size: 575px auto;
        background-repeat: no-repeat;
        background-position: center 1%;
    }
    .footer {
        padding: 0.5rem;
    }

    h2 {
        font-size: 26px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px){
    .bg-class {
        background-image: url('/static/heuser/images/20200528_bheuser_2000_1000.jpg');
        background-size: 767px auto;
        background-repeat: no-repeat;
        background-position: center 1%;
    }
    .footer {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .bg-class {
        background-image: url('/static/heuser/images/20200528_bheuserbonn_artist_0064.jpg');
        background-size: 991px auto;
        background-repeat: no-repeat;
        background-position: center 1%;
    }
    .footer {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1140px){
    .bg-class {
        background-image: url('/static/heuser/images/20200528_bheuserbonn_artist_0064.jpg');
        /*background-color: #70a3ff;*/
        background-size: 1140px auto;
        background-repeat: no-repeat;
        background-position:center 1%;
     }

}

@media screen and (min-width: 1141px) and (max-width: 1599px){
    .bg-class {
        background-image: url('/static/heuser/images/20200528_bheuserbonn_artist_0064.jpg');
        background-size: 1600px auto;
        background-repeat: no-repeat;
        background-position:center 1%;
     }
}
@media screen and (min-width: 1600px){
    .bg-class {
        background-image: url('/static/heuser/images/20200528_bheuserbonn_artist_0064.jpg');
        background-size: auto auto;
        background-repeat: no-repeat;
        background-position:center 1%;
     }

}
