   <div class="footer" text-center>
        <div class="row" >
            <div class="col-lg-4 d-none d-lg-block">
                <div class="text-white">
                    <center><a class="text-white" href="https://t000bcaed.emailsys1a.net/190/4891/06f6652be4/subscribe/form.html">Newsletter-Anmeldung</a></center>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="text-white">
                    <center><a class="text-white" href="">Weitere Konzerttermine</a></center>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-white">
                    <center><a class="text-white" href="">Impressum</a> / <a class="text-white" href="">Datenschutzerklärung</a></center>
                </div>
            </div>
        </div>
   </div>
